In [1]:
import pandas as pd
math_score = pd.read_csv("schools.csv")
math_score['total_SAT'] = math_score['average_math'] + math_score['average_reading'] + math_score['average_writing']
top_10_schools = math_score[['school_name', 'total_SAT']]
top_10_schools = top_10_schools.sort_values(by='total_SAT', ascending = False)
top_10_schools

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
..                                                 ...        ...
171              Kingsbridge International High School        987
337             Pan American International High School        978
295      International High School at Prospect Heights        946
247                          Multicultural High School        926
182   Pan American International High School at Monroe        924

[375 rows x 2 columns]

In [2]:
total_SAT']
top_10_schools = top_10_schools.sort_values(by='total_SAT', ascending = 'False')
top_10_schools

SyntaxError: unterminated string literal (detected at line 1) (3109752156.py, line 1)